body{
  background-image: url(../img/blackJack_texture_game.png);
  color: #ffffff;
}
.card {
  display: inline-block;
  text-align: center;
}
#container {
  margin: 0 auto;
  align: center;
}
img {
  height: 125px;
  width: 100px;
  margin: 10px;
}
